*{
    font-family: 'pretendard, sans-serif;';
}
.wrap{width:1920px;position:relative;margin:auto;}
body{
    margin: 0;
    box-sizing: border-box;
    /* max-width: 1000px; */
}
/* 주변 관광지 header */

.trv_header{
    position: relative;
    
}
.tex{
    position: absolute;
    top: 200px;
    left: 160px;
    
}
.trv_header h1{
    width: 300px;
    font-family: 'pretendard', sans-serif;
    letter-spacing: 4px;
    font-size: 40px;
    color:white;
    text-align: left;
    font-weight: bold;
    border-bottom:2px solid white;
    line-height: 80px;
}
    
    

   
.trv_header h2{
    width: 160px;
    height: 26px;
    font-family: 'pretendard', sans-serif;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: -15px;
    color: white;
    
}
.trv_header .suv_img{
    width: 100%;
    object-fit: contain;
}
.section{
    margin-left: 160px;
    margin-right: 160px;
    position: relative;
    margin-bottom: 130px;
}
.section h1{
    display: inline;
    font-size: 38px;
    letter-spacing: 2.4px;
    font-family: 'pretendard',sans-serif;
    font-weight: bold;
}
.tex1 h1::after{
    content: "";
    display: block;
    position: absolute;
    border-bottom: 3px solid red;
    border-radius: 1px;
    width: 180px;
    top:27px;
    left: 310px;
    

}
.section h2{
    font-size: 17px;
    font-family: 'pretendard', sans-serif;
    letter-spacing: 1.6px;
    color: #323232;
    font-weight: bold;
}
.section p{
    font-family: 'pretendard', sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.7;
    letter-spacing: 0.3px;
    text-align: left;
    color: #323232;
    font-weight: bold;
}
.img_1{
    margin-top: 80px;
}