*body{
    margin: 0;
    box-sizing: border-box;
    max-width: 1000px;
}
/* 주변 관광지 header */

.container{
    position: relative;
    border: 1px solid red;
    background-image: url(../image/suv-img.jpg);
    background-position: center;
    background-size: cover;
    height: 1078px;
    width: 1920px;
    margin: 0 0 26px;
    padding: 0 0 18px;
}
.container h1{ 
    width: 160px;
    height: 29px;
    margin: 225px 98px 17px 160px;
    font-family: 'pretendard, sans-serif;';
    font-size: 40px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2.4px;
    text-align: left;
    color: #fff;
    

}