*{margin:0;padding:0;box-sizing: border-box;font-family: "Pretendard-Regular";}
a{text-decoration: none;}
header{
    position:absolute;
    top:0;
    left:0;
    background-color: 
    #ffffff;
}
header .container h1{
    width:168px;
    height:49px;
    background-image: url("/images/reservation/logo-2.png");
    
}
